includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    level: max
    paths:
        - src
        - tests
        - tools
    reportUnmatchedIgnoredErrors: true
    checkMissingCallableSignature: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true
    reportMaybesInMethodSignatures: true
